PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/speedrun-verification
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=31337
CONTRACT_ADDRESS=filled-by-npm-run-deploy
PRIVATE_KEY=hardhat-local-account-private-key
UPLOAD_DIR=uploads
FRONTEND_URL=http://localhost:5173
NODE_ID=node-5000
NODE_URL=http://localhost:5000
PEERS=
